@import "~bootstrap/scss/bootstrap";


//color palette #FEFBE9 #E1EEDD #F0A04B #183A1D

$primary-color: #E3CCAE;
$secondary-color: #262A56;
$tertiary-color: #B8621B;
$dark: #000000;

html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: transparent;
}

body {
    background-image: url(./mountainBackground.png);
    height: 100%;
    background-color: $tertiary-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.card-container {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.card {
    position: absolute;
    background-color: transparent;
    color: $primary-color;
    border: none;
    width: 75%;
    padding-top: 50px;
}

.nav {
    background-color: transparent;
    justify-content: right;
}

.nav-text {
    color: $primary-color;
    font-size: larger;
    font-weight: bolder;
    padding-left: 20px;
    width: 150px;
}

.btn {
    color: $secondary-color;
    background-color: $primary-color;
    border-color: $primary-color;
}

.btn:hover {
    color: $primary-color;
    background-color: $dark;
    border-color: $dark;
}

.contact-btn {
    color: $primary-color;
    background-color: transparent;
    border-color: transparent;
    font-size: 30px;
}

.contact-btn:hover {
    color: $tertiary-color;
    background-color: transparent;
    border-color: transparent;
}

.contact-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
}

.repo-card {
    width: 33%;
}

.work-container {
    justify-content: space-evenly;
}